<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Check Compatibility</title>
</head>
<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="blue">G</span><span class="blue">A</span><span class="blue">M</span><span class="blue">E</span> <span class="red">Compatibility</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/history">Check Compatibility</a></li>
                    <li class="nav-item"><a class="nav-link" href="/buy">Search Games</a></li>
                    <li class="nav-item"><a class="nav-link" href="/change_password">Change Password</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>

    </nav>

    <main class="container py-5 text-center">
        <h1>Compare</h1>
        <br>
        <form method="POST">
            <label for="cpu">CPU:</label>
            <select name="cpu" id="cpu">
                <option value="Pentium 90">Pentium 90</option>
                <option value="Pentium200MHz">Pentium200MHz</option>
                <option value="1 GHZ">1 GHZ</option>
                <option value="1.2 GHZ">1.2 GHZ</option>
                <option value="1.4 GHZ">1.4 GHZ</option>
                <option value="1.6 GHZ">1.6 GHZ</option>
                <option value="1.7 GHZ">1.7 GHZ</option>
                <option value="1.8 GHZ">1.8 GHZ</option>
                <option value="Intel 2.0 GHZ">Intel 2.0 GHZ</option>
                <option value="AMD at 2.8 GHz">AMD at 2.8 GHz</option>
                <option value="2.4 GHZ">2.4 GHZ</option>
                <option value="3.0 GHZ">3.0 GHZ</option>
                <option value="Intel Pentium III">Intel Pentium III</option>
                <option value="Intel Pentium 4">Intel Pentium 4</option>
                <option value="Intel Pentium E2180">Intel Pentium E2180</option>
                <option value="Intel Dual Core">Intel Dual Core</option>
                <option value="AMD Athlon Processor">AMD Athlon Processor</option>
                <option value="AMD Athlon 64">AMD Athlon 64</option>
                <option value="AMD Athlon 64 X2">AMD Athlon 64 X2</option>
                <option value="AMD Athlon II">AMD Athlon II</option>
                <option value="AMD Athlon II X4 620 2.6 GHz">AMD Athlon II X4 620 2.6 GHz</option>
                <option value="AMD Phenom II X4 940">AMD Phenom II X4 940</option>
                <option value="Intel Core 2 Duo">Intel Core 2 Duo</option>
                <option value="Intel CoreTM2 Duo">Intel CoreTM2 Duo</option>
                <option value="Intel Core 2 Duo E4500">Intel Core 2 Duo E4500</option>
                <option value="Intel Core 2 Duo E5200">Intel Core 2 Duo E5200</option>
                <option value="Intel Core 2 Duo E6600">Intel Core 2 Duo E6600</option>
                <option value="Intel Core 2 Duo E6700">Intel Core 2 Duo E6700</option>
                <option value="Intel Core 2 Duo E6750">Intel Core 2 Duo E6750</option>
                <option value="Intel Core 2 Duo E6850">Intel Core 2 Duo E6850</option>
                <option value="Intel Core 2 Duo E8200">Intel Core 2 Duo E8200</option>
                <option value="Intel Core2 Duo E8400">Intel Core2 Duo E8400</option>
                <option value="2.4 GHz Dual Core Processor">2.4 GHz Dual Core Processor</option>
                <option value="Intel Core 2 Quad">Intel Core 2 Quad</option>
                <option value="AMD FX 4300">AMD FX 4300</option>
                <option value="Intel Core i3">Intel Core i3</option>
                <option value="AMD FX 6300">AMD FX 6300</option>
                <option value="AMD FX 8350">AMD FX 8350</option>
                <option value="Intel Core i5">Intel Core i5</option>
                <option value="AMD FX 9590">AMD FX 9590</option>
                <option value="Intel Core i7">Intel Core i7</option>
                <option value="Intel Core i9">Intel Core i9</option>
            </select>

            <label for="gpu">GPU:</label>
            <select name="gpu" id="gpu">
                <option value="OpenGL 1.4">OpenGL 1.4</option>
                <option value="2 MB of vRAM">2 MB of vRAM</option>
                <option value="4 MB of vRAM">4 MB of vRAM</option>
                <option value="8 MB of vRAM">8 MB of vRAM</option>
                <option value="32 MB of vRAM">32 MB of vRAM</option>
                <option value="Gráfica 3D compatible con DirectX 7">Gráfica 3D compatible con DirectX 7</option>
                <option value="NVIDIA GeForce 6100">NVIDIA GeForce 6100</option>
                <option value="NVIDIA GeForce FX 5200">NVIDIA GeForce FX 5200</option>
                <option value="NVIDIA GeForce 6600">NVIDIA GeForce 6600</option>
                <option value="NVIDIA GeForce 6600GT">NVIDIA GeForce 6600GT</option>
                <option value="NVIDIA GeForce 7600">NVIDIA GeForce 7600</option>
                <option value="NVIDIA GeForce 7600GT">NVIDIA GeForce 7600GT</option>
                <option value="NVIDIA GeForce 240 GT">NVIDIA GeForce 240 GT</option>
                <option value="NVIDIA GeForce GT 420">NVIDIA GeForce GT 420</option>
                <option value="Geforce GT 430">Geforce GT 430</option>
                <option value="NVIDIA GeForce 450 GTS">NVIDIA GeForce 450 GTS</option>
                <option value="OpenGL 2.0 compatible">OpenGL 2.0 compatible</option>
                <option value="OpenGL 3.0 Support">OpenGL 3.0 Support</option>
                <option value="Tarjeta DirectX con resolución de 800 x 600">Tarjeta DirectX con resolución de 800 x 600</option>
                <option value="Radeon X1000">Radeon X1000</option>
                <option value="64 MB of vRAM">64 MB of vRAM</option>
                <option value="128 MB of vRAM">128 MB of vRAM</option>
                <option value="256 MB of vRAM">256 MB of vRAM</option>
                <option value="256 MB compatible con DirectX 9.0b">256 MB compatible con DirectX 9.0b</option>
                <option value="32 MB compatible con DirectX 9.0b">32 MB compatible con DirectX 9.0b</option>
                <option value="NVIDIA GeForce 8600">NVIDIA GeForce 8600</option>
                <option value="NVIDIA GeForce 8600GT">NVIDIA GeForce 8600GT</option>
                <option value="NIDIA GeForce 7800 GT">NIDIA GeForce 7800 GT</option>
                <option value="NVIDIA GeForce 7800 GTX">NVIDIA GeForce 7800 GTX</option>
                <option value="NVIDIA GeForce 8800">NVIDIA GeForce 8800</option>
                <option value="NVIDIA GeForce 8800GT">NVIDIA GeForce 8800GT</option>
                <option value="NVIDIA GeForce 8800GTS">NVIDIA GeForce 8800GTS</option>
                <option value="NVIDIA GeForce 9600GT">NVIDIA GeForce 9600GT</option>
                <option value="NVIDIA GeForce 9800">NVIDIA GeForce 9800</option>
                <option value="NVIDIA GeForce 9800 GT">NVIDIA GeForce 9800 GT</option>
                <option value="NVIDIA GeForce 9800GTX">NVIDIA GeForce 9800GTX</option>
                <option value="ATI Radeon HD 3870">ATI Radeon HD 3870</option>
                <option value="Nvidia GTS 260">Nvidia GTS 260</option>
                <option value="NVIDIA GTX 500">NVIDIA GTX 500</option>
                <option value="NVIDIA GeForce GTX 460">NVIDIA GeForce GTX 460</option>
                <option value="NVIDIA GeForce GTX 465">NVIDIA GeForce GTX 465</option>
                <option value="NVIDIA GeForce GTX 470">NVIDIA GeForce GTX 470</option>
                <option value="NVIDIA GeForce GTS 450">NVIDIA GeForce GTS 450</option>
                <option value="Intel HD 3000">Intel HD 3000</option>
                <option value="NVIDIA GTX 580">NVIDIA GTX 580</option>
                <option value="GeForce GT 560 Ti">GeForce GT 560 Ti</option>
                <option value="NVIDIA GTX 600">NVIDIA GTX 600</option>
                <option value="NVIDIA GTX 650">NVIDIA GTX 650</option>
                <option value="NVIDIA GeForce GTX 660">NVIDIA GeForce GTX 660</option>
                <option value="NVIDIA GeForce GTX 670">NVIDIA GeForce GTX 670</option>
                <option value="NVIDIA GeForce GTX 680">NVIDIA GeForce GTX 680</option>
                <option value="NVIDIA GTX 750">NVIDIA GTX 750</option>
                <option value="NVIDIA GeForce GTX 750 Ti">NVIDIA GeForce GTX 750 Ti</option>
                <option value="NVIDIA GTX 760">NVIDIA GTX 760</option>
                <option value="NVIDIA GeForce GTX 780">NVIDIA GeForce GTX 780</option>
                <option value="AMD Radeon RX Vega 6">AMD Radeon RX Vega 6</option>
                <option value="NVIDIA GTX 960">NVIDIA GTX 960</option>
                <option value="NVIDIA GTX 970">NVIDIA GTX 970</option>
                <option value="AMD Radeon RX 460">AMD Radeon RX 460</option>
                <option value="AMD Radeon RX 560">AMD Radeon RX 560</option>
                <option value="NVIDIA GTX 1050">NVIDIA GTX 1050</option>
                <option value="NVIDIA GeForce GTX 1050 Ti">NVIDIA GeForce GTX 1050 Ti</option>
                <option value="AMD Radeon RX 580">AMD Radeon RX 580</option>
                <option value="AMD Radeon RX 590">AMD Radeon RX 590</option>
                <option value="NVIDIA GTX 1060">NVIDIA GTX 1060</option>
                <option value="NVIDIA GTX 1070">NVIDIA GTX 1070</option>
                <option value="NVIDIA GeForce GTX 1070 Ti">NVIDIA GeForce GTX 1070 Ti</option>
                <option value="NVIDIA GTX 1650">NVIDIA GTX 1650</option>
                <option value="NVIDIA RTX 2060">NVIDIA RTX 2060</option>
                <option value="NVIDIA RTX 2060 Super">NVIDIA RTX 2060 Super</option>
                <option value="NVIDIA RTX 2070">NVIDIA RTX 2070</option>
                <option value="NVIDIA RTX 3080">NVIDIA RTX 3080 ondwars...</option>
            </select>

            <label for="ram">RAM (GB):</label>
            <input type="number" name="ram" id="ram" min="1" required>

            <button type="submit">Check Compatibility</button>
        </form>
        {% if compatible_games %}
        <br>
        <h2>Sopported Games:</h2>
        </br>
        <ul>
            {% for game in compatible_games %}
                <li>
                    <h4>{{ game.name }}</h4>
                    <p>CPU Requerido: {{ game.cpu }}</p>
                    <p>GPU Requerido: {{ game.gpu }}</p>
                    <p>RAM Requerida: {{ game.ram }} GB</p>
                    <img src="/static/images/{{ game.image }}" alt="{{ game.name }}" style="width:150px;">
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
